
form {
    width: 500px;
    margin: 50px auto;
    text-align: center;

  }
  
  mat-form-field {
    width: 100%;
    color: whitesmoke;
    margin-bottom: 20px;
  }
  
  mat-error {
    color: red;
    font-size: 14px;
  }
  
  button {
    width: 100%;
    margin-top: 20px;
  }
  .navToSignup{
    text-align: left;
    padding: 20px 0;
  }
  .navToSignup>a{
    text-decoration: none;
    color: black;
  }
  
  .logo {
    margin-left:2em;
    font: bold 1.7em ;
    color:purple;   
    padding-top:30px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
  }